* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, figcaption {
    font-family: 'Montserrat', sans-serif;
}
body {
    overflow-x: hidden;
}
#overlay {
    background-color: black;
    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0.4;
}
#collage {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(175px,1fr));
    grid-auto-flow: dense;
    overflow: hidden;
}
#content {
    background-color: white;
    padding: 5% 20%;
}
.grid-img-cont {
    grid-row: span 1;
    grid-column: span 1;
}
.bst {
    grid-row: span 2;
    grid-column: span 2;
}
.vst {
    grid-row: span 2;
}
.hst {
    grid-column: span 2;
}
.grid-img-cont img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#text-cont {
    position: absolute;
    top: 60%;
    left: 10%;
    z-index: 3;
    width: 80%;
}
#dt-logo {
    width: 15%;
    height: auto;
}
#text-cont h1 {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 800;
    text-shadow: 2px 2px 5px black;
}
#text-cont h1 span:first-of-type {
    color: #a81010;
}
#text-cont h1 span:last-of-type {
    color: white;
}
.line {
    width: 110%;
    height: 2px;
    background-color: #a81010;
    margin: 5% -5%;
}
#popup {
    width: 80%;
    height: 50vh;
    display: flex;
    margin: 10%;
    position: relative;
    display:none;
/*    min-height: 35vh!important;*/
}
#popup img {
    width: 40%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}
#popup-text {
    text-align: center;
    width: 53%;
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translate(-50%,-50%);
}
#q, #a {
    font-size: 1rem;
}
#name {
    text-transform: uppercase;
    margin-top: 3rem;
    color: #a81010;
    font-weight: 600;
}
#descrip {
    font-size: 0.8rem;
}
#grid {
    margin: 5% 0;
    height: 100%;
    justify-content: space-between;
}
.b-row {
    height: 30%;
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-top: 5%;
}
.row1, .row2 {
    display: flex;
    width: 48%;
    justify-content: space-between;
}
.row1 {
    float: left;
}
.row2 {
    float: right;
}
.box-overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
}
.box {
    width: 13vw;
    height: 25vh;
    position: relative;
}
.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(70%);
}
.box img:hover {
    filter: grayscale(0%);
}
.box:hover .box-overlay {
    opacity: 0;
    transition: 0.5s ease;
}
@media only screen and (max-width: 600px) {
    #collage {
        grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
        grid-template-rows: repeat(auto-fit,minmax(190px,1fr));
    }
    #dt-logo {
        width: 45%;
    }
    #text-cont h1 {
/*
        font-size: rem;
        line-height: 10rem;
*/
    }
    #content {
        padding: 10%;
    }
    .b-row {
        flex-direction: column;
    }
    .row1 {
        margin-bottom: 5%;
        width: 100%;
    }
    .row2 {
        width: 100%;
    }
    .box {
        width: 48%;
    }
    .line {
        width: 105%;
        margin: 15% -2.5%;
    }
    #popup {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        display: none;
    }
    #popup img {
        position: relative;
        width: 75%;
        margin: 0 12.5%;
        top: 0;
        left: 0;
        transform: none;
    }
    #popup-text {
        position: relative;
        width: 100%;
        margin: 0;
        top: 0;
        left: 0;
        transform: none;
        display: flex;
        flex-direction: column-reverse
    }
    #name {
        margin-top: 1rem;
    }
    #q {
        margin-top: 2rem;
    }
    #grid {
        margin-top: 5rem;
    }
}

@media only screen and (min-width: 1441px) {
    #collage {
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        grid-template-rows: repeat(auto-fit,minmax(220px,1fr));
    }
}
