<!doctype css>
*{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
html, body {
    width: 100%;
    height: 100vh;
}
body {
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,p,figcaption,ol,li {
    padding: 0;
    margin: 0;
    color: rgb(77,77,77);
}
h4, h5, p {
    line-height: 22px;
}
section a {
    color: rgb(77,77,77);
}
section a:hover, section a:active {
    color: #AD8282;
}
.navbar a:hover {
    color: rgb(77,77,77) !important;
}

img {
    cursor: url('pictures/cursor/hover.png'), auto;
}
.featured-cont img, .category-page-work img  {
    cursor: url('pictures/cursor/pointer.png'), auto;
}
.hero img, .category-hero img, .project-hero img {
    cursor:default;
}

/* NAVBAR */
.navbar {
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
/*    background-color: blue;*/
}
.nav-left {
    margin-left: 8%;
    text-decoration: none;
    color: rgb(77,77,77);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.nav-right {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 8%;
    font-weight: 400;

}
.nav-right a {
    text-decoration: none;
    color: rgb(77,77,77);
    font-size: 16px;
}
.navbar li {
    list-style: none;
}
#navlinkwork {
    margin-right: 50px;
}
.nav-right a:hover, .nav-right a:active {
/*    text-decoration: underline;*/
    border-bottom: solid 2px rgb(77,77,77);
}
.burger {
    display: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 2%;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(77,77,77);
    margin: 5px;
    transition: all 0.5s ease;
    border-radius: 500px;
}
#nav-icons i {
    font-size: 40px;
    display: none;
    margin-top: 35px;
    padding-bottom: 10px;
}
#nav-icons i:hover {
    border-bottom: solid 2px rgb(77,77,77);
}

/*home content*/
.hero {
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    height: 450px;
    background-color: #EBE7E5;
    border: solid 1px rgb(77,77,77);
    border-radius: 40px;
    position: relative;
    overflow-x: hidden;
}
.hero img {
    margin-top: 20px;
    width: 100%;
    height: 90%;
}
.hero-content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    height: auto;
    width: 50%;
}
.hero-content b {
    font-size: 15px;
}
.featured-text {
    margin-left: 10px;
    width: 55%;
}
.home-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 55px;
}
.home-sub {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.featured-cont {
    width: 84%;
    margin: 0 8% 0 8%;
    display: flex;
    flex-direction: column;
}
.row {
    width: 100%;
    display: flex;
}
.row:first-child {
    margin-top: 50px;
}
.work {
    width: 47%;
    height: auto;
    display: flex;
}
.work:first-child {
    margin-right: 6%;
}
.work .featured-flex {
    display: flex;
}
.work-img {
    width: 100%;
    height: 350px;
    border-radius: 40px;
    background-color: rgb(230,230,230);
}
.work-img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 40px;
    border: 1px solid rgb(77,77,77)
}
.featured-text {
    width: 100%;
}
#featured-p2 {
    margin-top: 100px;
}
.f-column2 {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.featured-num {
    font-family: 'PT Mono', monospace;
    font-size: 20px;
}
.work-category {
    margin-top: 15px;
    font-family: 'PT Mono', monospace;
    font-size: 13px;
    color: #AD8282;
    line-height: 14px;
}
.work-title {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    line-height: 33px;
}
.work-subtitle {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #808080;
    font-size: 16px;
}
.work:hover .work-title {
    text-decoration: underline;
    text-decoration-color: #AD8282;
}
.homepage a {
    text-decoration: none;
}
/*
#trial {
    background-color: blue;
}
*/

/*FOOTER*/
.footer {
    height: 180px;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 50px;
    background-color: #EBE7E5;
    border-radius: 40px;
    border: solid 1px rgb(77,77,77);
    position: relative;
}
.footer-content {
    height: 180px;
    width: 100%;
    position: absolute;
    justify-content: center;
    left: 0;
    top: 0;
}
.footer-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 40px;
}

.footer-icons {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 26%;
}
.icons {
    display: flex;
    height: 100%;
}
.icons i {
    font-size: 30px;
    color: rgb(77,77,77);
    margin-left: 20px;
}
.space {
    height: 8vh;
}

/*WORK PAGE*/
.category-hero {
    margin: 0 8% 0 8%;
    width: 84%;
    height: 180px;
    background-color: #EBE7E5;
    border-radius: 40px;
    border: 1px solid rgb(77,77,77);
    position: relative;
    overflow: hidden;
}
.category-hero img {
    height: 100%;
    float: right;
    margin-right: 150px;
}
.c-hero-content {
    position: absolute;
    width: 90%;
    height: auto;
    bottom: 40px;
    left: 50px;
}
.c-row {
    width: 80%;
    margin: 0 10% 0 10%;
    display: flex;
    margin-top: 45px;
}
.c-pic {
    width: 40%;
    height: 280px;
    border-radius: 40px;
    background-color: rgb(230,230,230);
    margin-left: 25px;
}
.c-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    border: 1px solid rgb(77,77,77);
}
.c-row-text {
    margin-left: 5%;
    width: 40%;
}
.c-row-text a {
    font-family: 'Poppins', sans-serif;
    color: #808080;
    font-weight: 600;
}
.c-row-text a:hover {
    color: rgb(77,77,77);
}
.c-space {
    height: 10px;
}
.c-pic img:hover, .work img:hover, .c-row:hover .c-pic img {
    transform: translate(-15px,-15px);
}
.c-row:hover .work-title {
    text-decoration: underline;
    text-decoration-color: #AD8282;
}
.category-page-work a {
    text-decoration: none;
}

/*PROJECT PAGE*/
.project-hero {
    margin: 0 8% 0 8%;
    width: 84%;
    height: 180px;
    background-color: #E0CECE;
    border-radius: 40px;
    border: 1px solid rgb(77,77,77);
    position: relative;
    overflow: hidden;
}
.project-hero img {
    height: 100%;
    float: right;
    margin-right: 150px;
}
.p-hero-content {
    position: absolute;
    width: 60%;
    height: auto;
    bottom: 40px;
    left: 50px;
}
.p-hero-content h1 {
    font-size: 45px;
    line-height: 45px;
}
.project-content {
    margin: 50px 10% 0 10%;
    width: 80%;
    height: auto;
    display: flex;
}
.column1 {
    width: 20%;
    margin-right: 5%;
    text-align: left;
    padding-bottom: 0px;
    border-bottom: 0px solid #808080;
}
.column2 {
    width: 75%;
}
.column2 p:first-child {
    margin-top: 0px;
}
.project-space {
    height: 25px;
}
.project-text {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: rgb(77,77,77);
}
.ppage-img {
    margin: 20px 5% 0 5%;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #808080;
}
.ppage-img img{
    width: 100%;
    height: auto;
    border-radius: 40px;
    border: 1px solid rgb(77,77,77);
}
#plant-pot-sketch {
    width: auto;
    margin-left: 20%;
    margin-right: 20%
}
ol {
    margin-top: 20px;
    margin-left: 3%;
    font-family: 'Nunito', sans-serif;
}
li {
    color: #808080;
}
#highlight {
    font-weight: 700;
    color: rgb(77,77,77);
}
.prevnnext {
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    width: 84%;
    margin: 0 8% 0 8%;
}
.prevnnext h1 {
    font-size: 18px;
}
.dtpage .img-row {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
#row2 {
    margin-top: 30px;
}
.dtpage .ppage-img {
    margin: 0;
    width: 47.5%;
}
.dtpage #row1 .ppage-img:first-child, .dtpage #row2 .ppage-img:first-child, .dtpage #finaldes .ppage-img:first-child {
    margin-right: 5%;
}
.dt-ol, .dt-ol li {
    margin-top: 0;
    color: rgb(77,77,77);
}
.ol-row {
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.ol-row li {
    width: 68%;
    margin-right: 2%;
}
.ol-row img {
    width: 30%;
    border: 1px solid rgb(77,77,77);
    border-radius: 40px;
}
.ol-row:first-child {
    margin-top: 0px;
}
#finalp .ppage-img {
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
}
#finalp .ppage-img:last-child {
    margin-right: 0%;
}


.plantpotpage .prevnnext, .tfhkpage .prevnnext {
    width: auto;
    right: 0;
    position: absolute;
}



.aboutpage .footer, .category-page .footer {
    margin-top: 50px;
}

#ig-embed {
    width: 75%;
    margin: 0 12.5% 0 12.5%;
}


/*ABOUT PAGE*/
.aboutpage .space {
    height: 15px;
}
.aboutpage .column1 {
    width: 30%;
}
.aboutpage .column2 {
    width: 65%;
}
.column1 img {
    width: 100%;
    border-radius: 40px;
}
.aboutpage .home-sub {
    font-size: 18px;
}
.home-subsub {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #808080;
}
#bold {
    font-weight: 700;
}
.homesubsubsub {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}


@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        height: 100%;
        margin-left: 5%;
        margin-right: 5%;
        overflow-x: hidden;
    }
    .navbar {
        top: 0;
        background-color: white;
        z-index: 1;
        height: 12vh;
        margin: 0;
        width: 95%;
    }
    .nav-left {
        margin-left: 0%;
    }
    .nav-right {
        margin-right: 0;
        position: fixed;
        right: 0;
        height: 100%;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        justify-content: flex-start;
        padding-top: 25px;
        z-index: 1;
    }
    .nav-right li{
        padding-bottom: 10px;
        margin-left: 50px;
    }
    .nav-right a {
        color: rgb(77,77,77);
        font-size: 60px;
        font-weight: 600;
    }
    .nav-right a:hover {
        border-bottom-color: rgb(77,77,77);
        border-bottom-width: 3px;
    }
    .burger {
        display: block;
        margin-right: 0%;
    }
    #nav-icons {
        display: flex;
    }
    #nav-icons i {
        display: block;
    }
    .category-hero, .project-hero, .hero, .footer {
        margin: 0 0 0 0;
        width: 95%;
        overflow: hidden;
    }
    .hero img {
        margin-top: 80px;
        width: auto!important;
        height: 42%!important;
    }
    .space {
        height: 20px;
    }
    .hero-content {
        left: 20px;
        bottom: 20px;
        right: 20px;
        width: 90%;
    }
    .hero-content h1 {
        font-size: 50px;
        line-height: 50px;
    }
    .hero-content h3 {
        font-size: 17px;
    }
    .home-title {
        font-size: 50px;
        width: 95%;
    }
    .featured-cont {
        margin: 0 0 0 0;
        width: 95%;
    }
    .work {
        margin: 0;
        width: 100%;
    }
    .featured-flex {
        flex-direction: column;
    }
    .row {
        margin-top: 30px;
        flex-direction: column;
    }
    .row .featured-text {
        width: 95%;
    }
    .f-column2 {
        margin: 12px 0 0 0;
    }
    #featured-p2 {
        margin: 30px 0 0 0;
    }
    .category-hero {
        height: 130px;
    }
    .c-hero-content {
        width: 65%;
        bottom: 30px;
        left: 30px;
    }
    .c-hero-content h1{
        font-size: 35px;
        line-height: 35px;
    }
    .c-hero-content h3 {
        font-size: 16px;
        line-height: 18px;
    }
    .category-hero img {
        margin-right: -9px;
    }
    .c-pic img:hover, .work img:hover, .work2 img:hover {
        transform: translate(-10px,-10px);
    }
    .project-hero {
        width: 95%;
        margin: 0 0 0 0;
        height: 200px;
    }
    .p-hero-content {
        width: 65%;
    }
    .project-hero img {
        margin-right: -10px;
    }
    .project-content p, .project-content b {
        margin-top: 0px;
    }
    .project-content .column1 br {
        display: none;
    }
    .column1 div {
        height: 0px;
    }
    .p-hero-content {
        bottom: 30px;
        left: 30px;
    }
    .p-hero-content h1 {
        font-size: 35px;
        line-height: 35px;
    }
    .project-space {
        height: 15px;
    }
    .project-content {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 0;
        width: 95%;
    }
    .ppage-img {
        margin: 20px 0 0 0;
        width: 100%;
        height: auto;
    }
    #plant-pot-sketch {
        margin: 20px 0 0 0;
    }
    .prevnnext {
        width: 95%;
        margin: 0;
    }
    .work-category {
    margin-top: 12px;
    }
    .category-page-work .featured-num{
        margin-bottom: 10px;
    }
    .c-row {
        flex-direction: column;
        margin: 30px 0 0 0;
        width: 95%;
    }
    .c-pic, .c-row-text {
        margin: 0 0 0 0;
        width: 100%;
    }
    .c-row-text {
        margin-left: 5px;
    }
    .column1, .column2 {
        margin: 0 0 0 0;
        width: 100%;
        text-align: left;
    }
    .column1 {
        padding-bottom: 20px;
        border-bottom: 1px solid #808080;
    }
    .column2 {
        padding-top: 20px;
    }
    .aboutpage .footer, .category-page .footer {
        margin-top: 30px;
    }
    .footer {
        margin-top: 30px;
        height: 130px;
    }
    .footer h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .footer-content {
        height: 130px;
    }
    .footer-icons {
        width: 65%;
        height: auto;
    }
    .footer-icons .icons {
        margin-top: 30px;
    }
    .aboutpage .column1 {
        width: 100%;
        border-bottom: 0px;
        padding: 0;
    }
    .aboutpage .column1 img {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30px;
    }
    .aboutpage .column2 {
        width: 100%;
    }
    .aboutpage .column2 h1 {
        text-align: center;
    }
    #about-space {
        height: 30px;
    }
    #ig-embed {
    width: 100%;
    margin: 0;
    }
    .dtpage .img-row {
        margin-left: 0;
        margin-right: 0;
    }
    #row1, #row2 {
        margin-top: 20px;
    }
    #finaldes {
        flex-direction: column;
        margin-top: 20px;
    }
    #finaldes .ppage-img {
        width: 100%;
    }
    #finaldes .ppage-img:first-child{
        margin-bottom: 20px;
    }
    .dtpage ol {
        margin: 0;
    }
    .ol-row {
        flex-direction: column;
    }
    .ol-row li, .ol-row img {
        width: 100%;
    }
    .ol-row li {
        margin: 0;
        list-style-position: inside;
    }
    .ol-row img, #finalp img{
        margin-top: 20px;
    }
    #finalp {
        flex-direction: column;
    }
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}
