<!doctype css>
*{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,p,ol,li {
    padding: 0;
    margin: 0;
    color: rgb(77,77,77);
}
figcaption {
    color: #808080;
}
h4, h5, p {
    line-height: 22px;
}
section a {
    color: rgb(77,77,77);
}
section a:hover, footer a:hover {
    color: #AD8282;
}
.navbar a:hover {
    color: rgb(77,77,77) !important;
}

img {
    cursor: url('pictures/cursor/hover.png'), auto;
}
.featured-cont img, .category-page-work img  {
    cursor: url('pictures/cursor/pointer.png'), auto;
}
.hero img, .category-hero img, .project-hero img {
    cursor: default;
}

a {
    text-decoration-color: #AD8282;
}

.aboutpage a:hover, .footer a:hover, .tfhkpage a:hover, .projectpage a:hover, .dtpage a:hover {
    background-color: #AD8282!important;
    color: white!important;
}

/* NAVBAR */
.navbar {
    height: 15vh;
    width: 84%;
    margin: 0 8% 0 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-left {
    margin-right: auto;
    text-decoration: none;
    color: rgb(77,77,77);
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Brandon-Grotesque', sans-serif;
}
.nav-right {
    font-family: 'Brandon-Grotesque', sans-serif;
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.navlink {
    position: relative;
    margin-left: 50px;
}
.nav-right a {
    text-decoration: none;
/*    color: rgb(77,77,77);*/
    font-size: 1.3rem;
    color: #808080;
    font-weight: 400;
}
.navbar li {
    list-style: none;
}
.navlink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
/*    display:block;*/
    width: 0;
    height: 2px;
    background-color: #AD8282;
    border-radius: 10000px;
    clear: left;
}
.navlink:hover::after {
    width: 100%;
    transition: width 0.3s;
}
.burger {
    display: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 2%;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(77,77,77);
    margin: 5px;
    transition: all 0.5s ease;
    border-radius: 500px;
}
#nav-icons i {
    font-size: 40px;
    display: none;
    margin-top: 35px;
    padding-bottom: 10px;
}

/*home content*/
.hero {
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    height: 65vh;
    background-color: #EBE7E5;
/*    border: solid 1px rgb(77,77,77);*/
    border-radius: 40px;
    position: relative;
    overflow-x: hidden;
}
.hero img {
    position: absolute;
    left: -2px;
    margin-top: 50px;
    width: 100.5%;
    height: 80%;
}
#mobile-rib {
    display: none;
}
.hero-content {
    position: absolute;
    bottom: 70px;
    left: 70px;
    height: auto;
    width: 55%;
}
.featured-text {
    margin-left: 5px;
    width: 55%;
}
.home-title {
    font-family: 'Brandon-Grotesque', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.3rem;
}
.hero .home-sub {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #808080;
}
.featured-cont {
    width: 84%;
    margin: 0 8% 0 8%;
    display: flex;
    flex-direction: column;
}
.row {
    width: 100%;
    display: flex;
    margin-top: 3rem;
}
.row:first-child {
    margin-top: 6rem;
}
.work {
    width: 46%;
    height: auto;
    display: flex;
}
.work:first-child {
    margin-right: 8%;
}
.work .featured-flex {
    display: flex;
}
.work-img {
    width: 100%;
    height: 350px;
    border-radius: 40px;
    background-color: rgb(230,230,230);
}
.work-img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 40px;
/*    border: 1px solid rgb(77,77,77)*/
}
.featured-text {
    width: 100%;
}
#featured-p2 {
    margin-top: 4rem;
}
.f-column2 {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.featured-num {
    font-family: 'PT Mono', monospace;
    font-size: 20px;
}
.work-category {
    margin-top: 1rem;
    font-family: 'PT Mono', monospace;
    font-size: 1rem;
    color: #AD8282;
    line-height: 1.2rem;
}
.work-title {
    font-family: 'Brandon-Grotesque', sans-serif;
    font-size: 2rem;
    line-height: 32px;
    font-weight: 700;
    margin-top: 5px;
}
.work-subtitle {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #808080;
    font-size: 18px;
}
.work:hover .work-title {
    text-decoration: underline;
    text-decoration-color: #AD8282;
}
.homepage a {
    text-decoration: none;
}

/*FOOTER*/
.footer {
    height: 15vh;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 6rem;
    border-top: solid 1px #808080;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 80px 0 80px;
}
.footer-icons {
    height: 15vh;
    display: flex;
    align-items: center;
}
.footer .home-title {
    font-size: 2.5rem;
    line-height: 2.5rem;
}
.footer-icons p {
    margin-top: 14px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.footer-icons p:first-of-type {
    margin-left: 25px;
}
.icons {
    display: flex;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
}
.icons a {
    text-decoration-color: #AD8282;
    color: rgb(77,77,77);
}
.icons a:hover {
    color: #AD8282;
}
.developed {
    font-family: 'Brandon-Grotesque', sans-serif;
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-size: 18px;
    text-align: right;

}
.developed p {
    color: #808080;
}

/*WORK PAGE*/
.category-hero {
    margin: 0 8% 0 8%;
    width: 84%;
    height: 180px;
    background-color: #EBE7E5;
    border-radius: 40px;
/*    border: 1px solid rgb(77,77,77);*/
    position: relative;
    overflow: hidden;
}
.category-hero img {
    height: 100%;
    float: right;
    margin-right: 150px;
}
.c-hero-content {
    position: absolute;
    width: 90%;
    height: auto;
    bottom: 40px;
    left: 50px;
}
.c-row {
    width: 80%;
    margin: 0 10% 0 10%;
    display: flex;
    margin-top: 45px;
}
.c-pic {
    width: 40%;
    height: 280px;
    border-radius: 40px;
    background-color: rgb(230,230,230);
    margin-left: 25px;
}
.c-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
/*    border: 1px solid rgb(77,77,77);*/
}
.c-row-text {
    margin-left: 5%;
    width: 40%;
}
.c-row-text a {
    font-family: 'Brandon-Grotesque', sans-serif;
    color: #808080;
    font-weight: 600;
}
.c-row-text a:hover {
    color: rgb(77,77,77);
}
.c-space {
    height: 10px;
}
.c-pic img:hover, .work img:hover, .c-row:hover .c-pic img {
    transform: translate(-10px,-10px);
}
.c-row:hover .work-title {
    text-decoration: underline;
    text-decoration-color: #AD8282;
}
.category-page-work a {
    text-decoration: none;
}

/*PROJECT PAGE*/
.project-hero {
    margin: 0 8% 0 8%;
    width: 84%;
    height: 12rem;
    background-color: #E0CECE;
    border-radius: 40px;
/*    border: 1px solid rgb(77,77,77);*/
    position: relative;
    overflow: hidden;
}
.project-hero img {
    height: 100%;
    float: right;
    margin-right: 150px;
}
.p-hero-content {
    position: absolute;
    max-width: 70%;
    height: auto;
    bottom: 40px;
    left: 40px;
}
/*
.p-hero-content h1 {
    font-size: 50px;
    line-height: 45px;
}
*/
.project-content {
    margin: 50px 10% 0 10%;
    width: 80%;
    height: auto;
    display: flex;
}
.column1 {
    width: 20%;
    margin-right: 5%;
    text-align: left;
    padding-bottom: 0px;
    border-bottom: 0px solid #808080;
}
.column1 b {
    font-weight: normal;
}
.column2 {
    width: 75%;
}
.column2 p:first-child {
    margin-top: 0px;
}
.project-space {
    height: 25px;
}
.project-text {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: rgb(77,77,77);
}
.ppage-img {
    margin: 20px 5% 0 5%;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #808080;
}
.ppage-img img{
    width: 100%;
    height: auto;
    border-radius: 40px;
/*    border: 1px solid rgb(77,77,77);*/
}
#plant-pot-sketch {
    width: auto;
}
ol {
    margin-top: 20px;
    margin-left: 3%;
    font-family: 'Nunito', sans-serif;
}
.prevnnext {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    justify-content: space-between;
    font-family: 'Brandon-Grotesque', sans-serif;
    width: 84%;
    margin: 0 8% 0 8%;
}
.prevnnext a {
    text-decoration: none;
}
.pnbtn {
    width: 100%;
    display: flex;
    align-items: center;
}
.pnbtn .work-category {
    margin-top: 0;
}
.pnbtn .text {
    margin: 0 10px;
}
.pnbtn br {
    display: none;
}
.pnbtn h1 {
    font-size: 2rem!important;
    line-height: 2rem;
}
.pnbtn h1:hover {
    text-decoration: underline!important;
    text-decoration-color: #AD8282!important;
}
.pnbtn:hover {
    background-color: #ffffff!important;
}
.next .text {
    text-align: right;
}
.arrow {
    font-size: 20px;
    color: rgb(77,77,77);
}
.dtpage .img-row, .plantpotpage .img-row {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
#row2 {
    margin-top: 30px;
}
.dtpage .ppage-img {
    margin: 0;
    width: 47.5%;
}
.plantpotpage .img-row {
    margin-top: 20px;
}
.plantpotpage .img-row .ppage-img {
    margin: 0 0 0 5%;
}
.plantpotpage .img-row .ppage-img:first-of-type {
    margin: 0;
}
.dtpage #row1 .ppage-img:first-child, .dtpage #row2 .ppage-img:first-child, .dtpage #finaldes .ppage-img:first-child {
    margin-right: 5%;
}
.dt-ol, .dt-ol li {
    margin-top: 0;
    color: rgb(77,77,77);
}
.ol-row {
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.ol-row li {
/*    width: 68%;*/
    margin-right: 2%;
}
.ol-row img {
    width: 30%;
/*    border: 1px solid rgb(77,77,77);*/
    border-radius: 40px;
}
.ol-row:first-child {
    margin-top: 0px;
}
#finalp .ppage-img {
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
}
#finalp .ppage-img:last-child {
    margin-right: 0%;
}


.plantpotpage .prevnnext, .tfhkpage .prevnnext {
    width: auto;
    justify-content: flex-end;
}



.aboutpage .footer, .category-page .footer {
    margin-top: 50px;
}

#ig-embed {
    width: 75%;
    margin: 0 12.5% 0 12.5%;
}


/*ABOUT PAGE*/
.aboutpage .space {
    height: 15px;
}
.aboutpage .column1 {
    width: 30%;
}
.aboutpage .column2 {
    width: 65%;
}
.column1 img {
    width: 100%;
    border-radius: 40px;
}
.aboutpage .c-hero-content .home-sub, .category-page .home-sub {
    font-family: 'Nunito', sans-serif;
    font-size: 18px!important;
    color: #808080!important;
    font-weight: 400;
}
.aboutpage .home-sub {
    font-family: 'Nunito', sans-serif;
}
.home-subsub {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #808080;
}
#bold {
    font-weight: 700;
}
.homesubsubsub {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}
.whatimupto {
    display: flex;
    align-items: center;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px dashed rgb(190,190,190);
    padding: 5px;
}
.whatimupto h1 {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 30px;
}
.aboutpage .work-subtitle {
    color: rgb(77,77,77);
}



@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        height: 100%;
        margin-left: 5%;
        margin-right: 5%;
        overflow-x: hidden;
    }
    .navbar {
        top: 0;
        background-color: white;
        z-index: 1;
        height: 12vh;
        margin: 0;
        width: 95%;
    }
    .nav-left {
        margin-left: 0%;
    }
    .nav-right {
        margin-right: 0;
        position: fixed;
        right: 0;
        height: 100%;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        justify-content: flex-start;
        padding-top: 25px;
        z-index: 1;
    }
    .nav-right li{
        padding-bottom: 10px;
/*        margin-left: 50px;*/
    }
    .nav-right a {
        color: rgb(77,77,77);
        font-size: 4.5rem;
        font-weight: 700;
    }
    .nav-right a:hover {
/*        text-decoration: underline;*/
        border-bottom-color: rgb(77,77,77)!important;
        border-bottom-width: 3px;
    }
    .nav-right a:hover:any-link {
        color: #808080;
    }
    .navlink::after {
        bottom: 5px;
        height: 4px;
    }
    .burger {
        display: block;
        margin-right: 0%;
    }
    #nav-icons {
        display: flex;
    }
    #nav-icons i {
        display: block;
    }
    .category-hero, .project-hero, .hero, .footer {
        margin: 0 0 0 0;
        width: 95%;
        overflow: hidden;
    }
    .hero {
        height: 75vh;
    }
    .hero img {
        margin-top: 6rem;
        width: 120%!important;
        height: auto!important;
    }
    #desktop-rib {
        display: none;
    }
    #mobile-rib {
        display: block;
    }
    .space {
        height: 20px;
    }
    .hero-content {
        left: 8%;
        bottom: 8%;
        right: 8%;
        width: 84%;
/*        background-color: blue;*/
    }
    .homepage .home-title {
        font-size: 4.5rem!important;
        line-height: 4.3rem!important;
        margin-bottom: 10px;
    }
    .home-title {
        font-size: 3rem!important;
        line-height: 2.8rem!important;
        width: 100%;
    }
    .hero .home-sub {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    .featured-cont {
        margin: 0 0 0 0;
        width: 95%;
    }
    .work {
        margin: 0;
        width: 100%;
    }
    .work-title {
        font-size: 2rem;
    }
    .featured-flex {
        flex-direction: column;
    }
    .row {
        margin-top: 5rem!important;
        flex-direction: column;
    }
    .row .featured-text {
        margin: 0;
        width: 100%;
    }
    .f-column2 {
        margin: 12px 0 0 0;
    }
    #featured-p2 {
        margin: 5rem 0 0 0;
    }
    .category-hero {
        height: 20vh;
    }
    .c-hero-content {
        width: 65%;
        bottom: 30px;
        left: 30px;
    }
    .c-hero-content h1{
        font-size: 3rem;
        line-height: 3rem;
    }
    .c-hero-content h3 {
        font-size: 16px;
        line-height: 18px;
    }
    .category-hero img {
        margin-right: -9px;
    }
    .c-pic img:hover, .work img:hover, .work2 img:hover {
        transform: translate(-10px,-10px);
    }
    .project-hero {
        width: 95%;
        margin: 0 0 0 0;
        height: 200px;
    }
    .p-hero-content {
        width: 65%;
    }
    .project-hero img {
        margin-right: -10px;
    }
    .project-content p, .project-content b {
        margin-top: 0px;
    }
    .project-content .column1 br {
        display: none;
    }
    .column1 div {
        height: 0px;
    }
    .p-hero-content {
        bottom: 30px;
        left: 30px;
    }
    .p-hero-content h1 {
        font-size: 35px;
        line-height: 35px;
    }
/*
    .project-space {
        height: 15px;
    }
*/
    .project-content {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 95%;
    }
    .ppage-img {
        margin: 20px 0 0 0;
        width: 100%;
        height: auto;
    }
    #plant-pot-sketch {
        margin: 20px 0 0 0;
    }
    .prevnnext {
        position: relative;
        width: 95%;
        margin: 0;
    }
    .prevnnext h1 {
        margin-top: 5px;
    }
    .tfhkpage .prevnnext {
        width: 95%;
    }
    .work-category {
        margin-top: 12px;
    }
    .category-page-work .featured-num{
        margin-bottom: 10px;
    }
    .c-row {
        flex-direction: column;
        margin: 30px 0 0 0;
        width: 95%;
    }
    .c-pic, .c-row-text {
        margin: 0 0 0 0;
        width: 100%;
    }
    .c-row-text {
        margin-left: 5px;
    }
    .column1, .column2 {
        margin: 0 0 0 0;
        width: 100%;
        text-align: left;
    }
    .column1 {
        padding-bottom: 20px;
        border-bottom: 1px solid #808080;
    }
    .column2 {
        padding-top: 20px;
    }
    .footer {
        margin-top: 5rem;
        height: 25vh;
        position: relative;
    }
    .footer .home-title {
        line-height: 2.5rem;
    }
    .footer-content {
        margin: 0;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }
    .footer-icons {
        flex-direction: column;
        align-items: none;
        align-items: flex-start;
        height: auto;
    }
    .footer-icons h1 {
        margin-left: -2px
    }
    .icons {
        height: auto;
    }
    .icons p, .icons a {
        margin-top: 0;
        line-height: 18px;
    }
    .icons p:first-of-type{
        margin-left: 0;
    }
    .developed {
        margin-top: 1.5rem;
        align-items: none;
    }
    .footer .home-title {
        margin-bottom: 5px;
    }
    .pnbar .project-space {
        display: none;
    }
    .aboutpage .column1 {
        width: 100%;
        border-bottom: 0px;
        padding: 0;
    }
    .aboutpage .column1 img {
        width: 100%;
/*
        margin-left: 15%;
        margin-right: 15%;
*/
        margin-top: 30px;
    }
    .aboutpage .column2 {
        width: 100%;
    }
    .aboutpage .column2 h1 {
        text-align: center;
    }
    #about-space {
        height: 30px;
    }
    #ig-embed {
    width: 100%;
    margin: 0;
    }
    .plantpotpage .img-row .ppage-img {
    margin: 0 0 0 0%;
    }
    .dtpage .img-row, .plantpotpage .img-row {
        margin-left: 0;
        margin-right: 0;
    }
    #row1, #row2 {
        margin-top: 20px;
    }
    #finaldes {
        flex-direction: column;
        margin-top: 20px;
    }
    #finaldes .ppage-img {
        width: 100%;
    }
    #finaldes .ppage-img:first-child{
        margin-bottom: 20px;
    }
    .plantpotpage ol {
        margin-left: 5%;
    }
    .dtpage ol {
        margin: 0;
    }
    .ol-row {
        flex-direction: column;
    }
    .ol-row li, .ol-row img {
        width: 100%;
    }
    .ol-row li {
        margin: 0;
        list-style-position: inside;
    }
    .ol-row img, #finalp img{
        margin-top: 20px;
    }
    #finalp {
        flex-direction: column;
    }
    .whatimupto {
        flex-direction: column;
        text-align: left!important;
        align-items: flex-start;
        padding: 10px;
    }
    .whatimupto h1 {
        margin: 0;
/*        margin: 0 25px 0 0;*/
        padding: 0;
    }
    .pnbtn br {
        display: block;
    }
/*
    .pnbtn h1 {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
*/
    
}
@media only screen and (min-width: 1441px) {
    body {
        max-width: 70%;
        margin: 0 15% 0 15%;
    }
    .prevnnext {
        width: 58%;
        margin: 0 21% 0 21%;
    }
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}
