body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Libre Franklin', sans-serif;
    overflow-x: hidden;
}
#container {
display: flex;
}
#sidebar {
width: auto;
height: calc(100vh - 46px);
margin: 23px 0;
padding: 0 23px;
border-right: 1px solid #bfbfbf;
position: fixed;
}
#content {
width: 85%;
max-width: 85%;
margin-left: 14%;
margin-top: 23px;
display: block;
/*                float: right;*/
/*                margin-left: 15%;*/
height: calc(100vh-46px);
/*                background-color: blue;*/
}
#newnormal, #mobile-nn {
color: #ffdd97;
font-size: 1.5rem;
line-height: 30px;
font-weight: 900;
margin-top: 0!important;
}
#links {
display: flex;
flex-direction: column;
text-transform: uppercase;
font-weight: 200;
font-size: 15px;
margin-top: 15px;
}
#links a {
text-decoration: none;
color: #000000;
line-height: 30px;
}
#links a:hover {
text-decoration: underline;
}
#content-cont {
width: 95%;
margin: 0 2.5%;
}
#content-cont  p {
    font-family: 'eb garamond';
}
#content-cont #dt-logo {
width: 138px;
display: block;
margin-left: auto;
margin-right: auto;
}
.title {
margin-top: 42px;
font-weight: 900;
font-size: 3rem;
margin-bottom: 42px;
}
.content-page-row {
display: flex;
width: 100%;
}

.article-row,.pe-row {
overflow-x: scroll;
}
.article-row .content-page-box {
width: 100%;
}
.content-page-box {
display: flex;
flex-direction: column;
width: 270px;
margin-right: 2%;
}
.content-page-box img {
width: 270px!important;
}
.content-page-title {
line-height: 1.8rem;
font-size: 1.8rem;
margin-bottom: -.5rem;
font-weight: 600;
}
footer {
position: relative;
z-index: 100;
background-color: #ffdd97;
width: 100%;
height: 175px!important;
margin: 0!important;
text-transform: uppercase;
padding: 50px 70px!important;
border-top: 23px solid #ffffff;
}
.footer-cont {
display: flex;
position: relative;
}
.footer-col {
display: flex;
flex-direction: column;
margin-right: 8%;
}
.footer-cont img {
height: 50%;
margin-right: 8%;
overflow-x: hidden;
}
.footer-cont a {
text-decoration: none;
color: #000000;
font-size: 15px;
margin-bottom: 15px;
}
.footer-cont a:hover {
text-decoration: underline;
}
#footer-credits {
margin-left: -80px;
position: absolute;
width: 100%;
bottom: 30px;
left: 50%;
right: 50%;
transform: translate(-50%,-50%);
text-align: center;
font-size: 0.8rem;
}
#mobile-nav {
display: none;
}
a {
text-decoration: none;
color: black;
}

@media only screen and (max-width: 600px) {
    #container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    #sidebar {
        display: none;
    }
    #content {
/*        width: 100vw;*/
        margin: 0!important;
    }
    #content-cont {
        width: 90vw!important;
        margin: 0 5vw!important;
    /*                    margin: 0 5%;*/
    }
    #mobile-nav {
        display: block!important;
        width: 100%;
        text-align: center;
    }
    #content #dt-logo {
        display: none;
    }
    #mobile-nav h1 {
        margin-bottom: 0;
        font-size: 1.5rem!important;
        line-height: 2rem!important;
    }
    #mobile-nav #links {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .content-page-row {
    /*                    margin-left: 0;*/
        height: auto;
        width: auto!important;
    }
    .article-row,.pe-row {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0;
    }
    .article-row .content-page-box, .pe-row .content-page-box {
        margin: 0 5%;
    }
    .article-row .content-page-box:first-of-type, .pe-row .content-page-box:first-of-type {
        margin-left: 0;
    }
    .content-page-box {
        width: 100%!important;
    }
    .title {
        text-align: center;
    }
    footer {
        height: 500px!important;
        padding: 0!important;
        width: 100%;
    }
    .footer-cont {
        flex-direction: column;
        text-align: center;
        padding: 0!important;
    }
    .footer-cont img {
        width: 40%;
        margin: auto;
        margin-top: 25px;
    }
    .links {
        line-height: 30px;
        margin: 0;
    }
    .links:first-of-type {
        margin-top: 30px;
    }
    #footer-credits {
        width: 70%;
        margin: 0 2%;
        font-size: 12px;
    }
    .photo-essay-row {
        overflow-x: scroll;
        padding: 0;
    }
    .photo-essay-row .content-page-box:first-of-type {
        margin-right: 10%;
    }
    .podcast-row .content-page-box {
        width: 65%!important;
    }
    .podcast-row .content-page-box img {
        width: 100%;
    }
    #mobile-nav{
        margin: 2rem 0!important;
        width: 100%;
    }
    #mobile-nav h1 {
        font-weight: 800;
    }
    #dt-logo {
        display: none!important;
    }
}